{
  "globals": {
    "jQuery": true,
    "JQVMap": true,
    "VectorCanvas": true,
    "ColorScale": true
  },
  "env": {
    "browser": true
  },
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "brace-style": [2, "1tbs"],
    "indent": [2, 2],
    "linebreak-style": [2, "unix"],
    "semi": [2, "always"],
    "new-cap": 0
  }
}
